/* MARK: Base styles */
:root {
  --smoky-black: #0c0c0d;
  --eerie-black: #19191a;
  --linen: #f7f1e4;
  --shocking-pink: #ff5eff;
  --eucalyptus: #3dff98;

  font-size: 62.5%;
}

*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console,
    monospace;
  font-size: 1.8rem;
  line-height: 1.5;
  color: var(--linen);
  background-color: var(--smoky-black);
  border-top: 0.5rem solid var(--eerie-black);
}

body[data-current-player='X'] {
  border-top-color: var(--shocking-pink);
}

body[data-current-player='O'] {
  border-top-color: var(--eucalyptus);
}

button {
  font: inherit;
  color: inherit;
  background-color: transparent;
  border: none;
}

button:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* MARK: App */
.app {
  display: grid;
  gap: 3.8rem;
  align-content: center;
  min-block-size: calc(100vh - 0.5rem);
  width: min(calc(100% - 4rem), 64rem);
  margin-inline: auto;
}

[data-symbol='X'] {
  color: var(--shocking-pink);
}

[data-symbol='O'] {
  color: var(--eucalyptus);
}

/* MARK: Players */
.players {
  display: flex;
  justify-content: space-around;
}

/* MARK: Board */
.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
  width: 38rem;
  height: 38rem;
  background-color: var(--eerie-black);
  justify-self: center;
}

/* MARK: Square */
.square {
  display: grid;
  place-items: center;
  background-color: var(--smoky-black);
  font-size: 3.2rem;
  user-select: none;
  transition: opacity 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.square:hover {
  opacity: 85%;
  cursor: pointer;
}

/* MARK: Game result */
.game-result {
  font-size: 1.5rem;
  width: min(100%, 60ch);
  margin-inline: auto;
  text-align: center;
}
